*{
    margin:0px;
    padding:0px;
    
}
.first{
    background-color: black;
    width:100%;
    height:57rem;
    
}
.nav{
    color:white;
    padding:5rem;
    font-size: 5rem;
}
#navigation{
    padding: 30px;
    color: white;
}
.sign{
    background-color: rgb(39, 38, 38);
    color :white;
    padding:15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: none;
}
#login{
    padding: 15px;
}
.left-part{
    font-size: 50px;
    color:white;
    margin:130px;
    margin-top:90px;
    margin-bottom: 20px;
}
.part-2{
    color:rgb(139, 134, 134);
    margin-left:130px;
    font-size: 20px;
}
#back{
    width:748px;
    position:absolute ;
    left: 600px;
    overflow: hidden;
    
}
#try{
background-color: rgb(115, 85, 224);
color:white;
margin-left: 130px;
padding: 10px;
border-radius:10px;
font-size: 20px;
border: none;
}
#price{
background-color: rgb(39, 38, 38);
color:white;
padding: 10px;
border-radius:10px;
margin-left: 10px;
font-size: 20px;
border: none;
}
#text1{
    color:gray;
    margin: 40px;
    margin-left:130px;
    font-size: 20px;
}
.second{
    background-color: #131117;
    width: 100%;
    height: 35rem;
    color: azure;
}
#made{
    font-size: 40px;
    text-align: center;
    padding-top: 5rem;
}
.first-box{
    width:15rem;
    height:17rem;
    background-color: black;
    position: absolute;
    left: 10rem;
    margin-top: 20px ;
    border-radius: 10px;
}
.second-box{
    width:15rem;
    height:17rem;
    background-color: black;
    position: absolute;
    left: 27rem;
    margin-top: 20px ;
    border-radius: 10px;
}
.third-box{
    width:15rem;
    height:17rem;
    background-color: black;
    position: absolute;
    left: 43.5rem;
    margin-top: 20px ;
    border-radius: 10px;
}
.fourth-box{
    width:15rem;
    height:17rem;
    background-color: black;
    position: absolute;
    left: 60rem;
    margin-top: 20px ;
    border-radius: 10px;
}
#alignment{
    margin:30px;
    margin-left: 84px;
}
#inner{
    width: 170px;
}
.third{
    background-color: #0b0a0c;
    width: 100%;
    height: 50rem;
    color: azure;
}
.left-part2{
    font-size: 50px;
    color:white;
    padding:130px;
    padding-top:180px;
    padding-bottom: 20px;
}
.part-3{
    color:rgb(139, 134, 134);
    margin-left:130px;
    font-size: 20px;
}
#image1{
    position:absolute;
    left:600px;
    padding-top: 120px;
}
.one{
    background-color: #131117;
    color:white;
    border-radius: 10px;
    width:22rem;
    height:8rem;
    margin-top: 8rem;
    position: absolute;
    left:5rem;
}
.two{
    background-color: #131117;
    color:white;
    border-radius: 10px;
    width:22rem;
    height:8rem;
    margin-top: 8rem;
    position: absolute;
    left:31rem;
}
.three{
    background-color: #131117;
    color:white;
    border-radius: 10px;
    width:22rem;
    height:8rem;
    margin-top: 8rem;
    position: absolute;
    left:57rem;
}
#tick{
    position:absolute;
    margin-top: 40px;
    left:25px;
}
#details{
    position: absolute;
    left:90px;
    width:200px;
    padding-top: 1.5rem;
}
.fourth{
    background-color: #131117;
    width: 100%;
    height: 48rem;
    color: azure;
}
#footer{
    font-size: 50px;
    padding-top: 10rem;
    padding-left: 24rem;
}
#footer-desc{
    width: 36rem;
    text-align: center;
    margin-left: 25rem;
    margin-top: 2rem;
}
#footer-button{
    background-color:rgb(115, 85, 224);
    color: white;
    padding:15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-left: 39rem;
    margin-top: 2rem;
    font-size: 18px;
    border: none;
}
.foot-nav{
    margin-top: 18rem;
    margin-left: 5rem;
}
.madeby{
    position: absolute;
    color:rgb(148, 143, 143);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.footer-nav{
    list-style: none;
    display: inline-flex;
    margin-left: 20rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    padding-left: 2rem;
}
@media(max-width:1340px){
    #back{
        display: none;
    }
    .left-part{
        margin: 30px;
        margin-top:90px;
        margin-bottom: 20px;
    }
    .part-2{
        margin-left:30px;
    }
    #try{
    margin-left: 30px;
    }
    #text1{
        margin-left: 30px;
    }
    .second{
        height: 93rem;
    }
    .first-box{
        left: 5rem;
    }
    .second-box{
        margin-top: 20rem;
        left: 5rem;
    }
    .third-box{
        margin-top: 39rem;
        left: 5rem;
    }
    .fourth-box{
        margin-top: 58rem;
        left: 5rem;
    }
    .third{
        height:100rem;
    }
    .left-part2{
        padding:30px;
        padding-top:180px;
        padding-bottom: 20px;
    }
    .part-3{
        margin-left:30px;
    }
    #image1{
        margin-top: 39rem;
        left: 3rem;
    }
    .one{
        margin-top: 17rem;
        left:2rem;
    }
    .two{
        margin-top: 27rem;
        left:2rem;
    }
    .three{
        margin-top: 37rem;
        left: 2rem;
    }
    #footer-button{
        margin-left: 9rem;
        margin-top: 2rem;
        font-size: 18px;
    }
    #footer{
        padding-left: 3rem;
    }
    #footer-desc{
        width: 20rem;
        margin-left: 3rem;
    }
    .fourth{
        height: 57rem;
    }
    .footer-nav{
        display: none;
    }
    .madeby{
    left: 7rem;
    }
}